<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Larva Service</title>
        {% block javascript %}
            <script type="text/javascript" src="{{ url_for('.static', filename='jquery.min.js') }}" /></script>
            <script type="text/javascript" src="{{ url_for('.static', filename='bootstrap.js') }}" /></script>
        {% endblock %}
        {% block css %}
            <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='bootstrap.css') }}"></link>
            <link rel=stylesheet type=text/css href="{{ url_for('.static', filename='style.css') }}"></link>
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <a class="navbar-brand" href="{{ url_for('index') }}">Larva Model Service</a>
                <ul class="nav navbar-nav">
                  <li><a href="{{ url_for('jobs') }}" target="_blank">Jobs</a></li>
                  <li><a href="{{ url_for('runs') }}">Runs</a></li>
                  <li><a href="{{ url_for('datasets') }}">Datasets</a></li>
                  <li><a href="{{ url_for('shorelines') }}">Shorelines</a></li>
                </ul>
            </div>
        </nav>

        {% block subnav %}{% endblock %}
        <br />
        <div class="container">
            {%- with messages = get_flashed_messages(with_categories=true) %}
                {%- if messages %}
                    {%- for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            {{ message }}
                        </div>
                    {%- endfor %}
                {%- endif %}
            {%- endwith %}

            {% block page %}{% endblock %}
        </div>
    </body>
</html>
